/* 
* ********************************************************************************************
*  Cette feuille de styles est tiré de la formation O'clock : S02-E04-atelier-oNews-multipages
*  Elle utilise la notation Bloc__Element--Modificateur
*  Elle reprend la plupart des propriétés CSS basiques
* ********************************************************************************************
*/

/* LEFT */
.left {
    position: fixed;
    width: 50%;
    height: 100%;/* ou 100vh */
    padding: 3em 2em 1em;
    background-image: url(../images/nicole.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .left__title {
    text-transform: uppercase;
    font-size: 1.4em;
    max-width: 100px;
    line-height: 0.9;
    padding-left: 40px;
    background-image: url(../images/onews.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    align-self: flex-start;
  }
  
  .left__paragraph {
    font-size: 0.9em;
    text-align: right;
    padding: 1em 4% 1em 16%;
    background-color: rgba(155, 155, 155, .3);
    text-shadow: 0 0 4px #333;
  }
  
  .left__subtitle {
    font-style: italic;
    font-size: 1em;
    font-weight: 400;
  }
  
  .left__subtitle-strong {
    font-style: normal;
    font-size: 1.6em;
    font-weight: 700;
  }
  
  .left__nav {
    list-style-type: none;
    text-shadow: 0 0 4px #333;
  }
  
  .left__nav-item {
    display: inline-block;
  }
  
  .left__nav-link {
    color: white;
    padding: 0.5em 1em;
    margin: 0;
    font-weight: 700;
  }
  
  .left__nav-link:hover {
    color: inherit;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4); /* 0.4 = transparence => 1=opaque, 0=transparent */
    border-radius: 6px;
  }
  
  /* RIGHT */
  .right {
    width: 50%;
    margin-left: 50%;
  }
  
  .right__title {
    padding: 0.5em 1em;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  .posts {
    display: flex;
    flex-wrap: wrap;
  }
  
  .post {
    width: 50%;
    padding: 1.5em;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    font-size: 0.9em;
  }
  
  .post--solo {
    width: 100%;
  }
  
  .post__meta {
    font-size: 0.9em;
    color: grey;
    margin: 0.625em 0;
  }
  
  .post__author-icon {
    width: 1.4em;
  }
  
  .post__author {
    color: black;
    font-weight: 700;
  }
  
  .post__link {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .post__link:hover {
    text-decoration: none;
  }
  
  /* Modifiers sur les catégories */
  
  .post__category {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    padding: 3px 6px;
    background-color: darkgrey;
    margin-bottom: 0.5em;
  }
  
  .post__category:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  
  .post__category--color-team {
    background-color: #dc5e53;
  }
  
  .post__category--color-news {
    background-color: #98dc62;
  }
  
  .post__category--color-work {
    background-color: #0766f0;
  }
  
  .contact-form {
    margin: 2em;
    border: 1px solid #eaeaea;
    padding: 2em;
    font-size: 0.8em;
  }
  
  .contact-form__row {
    display: flex;
    align-items: baseline;
  }
  
  .contact-form__row--bottom {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 12px;
    margin-bottom: 14px;
  }
  
  .contact-form__item {
    width: 10px;
  
    /* très petit, mais c'est un choix car [voir ligne suivante] */
    flex: 1;
  
    /* permet de dire aux items de s'agrandir en "récupérant" les espaces vides */
    background-color: #f9f9f9;
    border: 0;
    border-bottom: 1px solid #4cced3;
    padding: 3px 1px;
    margin: 4px;
  }
  
  .contact-form__label {
    width: 10px;
  
    /* très petit, mais c'est un choix car [voir ligne suivante] */
    flex: 1;
  
    /* permet de dire aux items de s'agrandir en "récupérant" les espaces vides */
  }
  
  .contact-form__item--textarea {
    height: 100px;
    padding: 1em;
  }
  
  .contact-form__item--checkbox {
    flex: 0 1 auto;
    width: 1.5em;
  }
  
  .contact-form__submit {
    background-color: #4cced3;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0;
    font-size: 1.2em;
  }